body{ 
    text-align: center;
    background:rgb(160, 247, 247);
}   
.capa{
    width: 100%;
}
.beneficios{
    background-color: rgba(249, 240, 240, 0.957);
    text-align: left;
}
ul{
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    margin-right: 200px;
}
li{
    padding: 20px;
}
.foto-beneficios{
    width: 40%;
}body{ 
    text-align: center;
    background:rgb(26, 37, 37);
}
nav{
    position: absolute;
    top:100px;
    right: 75px;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 20px;
    color: aquamarine;
}   
nav a:hover{
    font-size: 22px;
    font-weight: bold;
    color: aqua;
    transition: 0.5s;
}
h3{
    text-align: left;
}
.logo{
    width: 20%;
    border-radius: 100%;
}
.capa{
    width: 100%;
}
.beneficios{
    background-color: rgba(249, 240, 240, 0.957);
    text-align: left;
}
ul{
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    margin-right: 200px;
}
li{
    padding: 20px;
}
.foto-beneficios{
    width: 40%;
}